<!-- #1  We call our new method to determine if the currentUser has favorited this post. 
    We store the result in a variable called favorite. 
    If the user has a favorite, we display a button that will POST to /favorites/destroy and delete the favorite.-->

<% const favorite = post.getFavoriteFor(currentUser.id) %>
<% if (favorite) { %>
  <form style="display: initial;" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/favorites/<%= favorite.id %>/destroy" method="post">
    <button type="submit" class="btn btn-danger">Unfavorite</button>
  </form>
<% } else { %>
 <!-- #2  If no favorite exists, we show a button to create one.-->
  <form style="display: initial;" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/favorites/create" method="post">
    <button type="submit" class="btn btn-primary">Favorite</button>
  </form>
<% } %>